.modalINICIO{
  display: block;
}

.resultados{
  display: block;
}

html,body {
  animation: colorchange 300s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 300s; /* Chrome and Safari */
  font-family: 'Cabin', sans-serif;
  width: 100%;
  overflow-y: auto;
  padding:0;
  margin:0;
  vertical-align: baseline;

}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

.negreta{
  font-weight: bold;
}

.img-bodegon{
  width: 300px;
  height: 200px;
}

.lletrapetita{
  color: grey;
  font-size: 10px;
}

.imgresultats{
  width: 200px;
  height: 100px;
}

.modal-bodyresultados{
 height: 600px;
  overflow-y: auto;
}

.linia{
  width: 100%;
  border: 1px solid black;
}
.imgresultats:hover{
  box-shadow: 0 0 5px #000


}